@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../assets/fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
		url('../assets/fonts/gilroy/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Chronicle-display';
	src: local('Chronicle-display Regular'), local('Chronicle-display-Regular'),
		url('../assets/fonts/chronicle-display/Chronicle/Display/Roman.otf')
			format('otf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--Accent: #fbd784;
	--Slate-100: hsl(202, 86%, 94%);
	--Slate-300: hsl(203, 41%, 72%);
	--Slate-500: hsl(200, 26%, 54%);
	--Slate-700: hsl(200, 24%, 40%);
	--Slate-900: hsl(202, 55%, 16%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	height: 100%;
	line-height: 1;
}

.wrapper {
	min-height: 100%;
}

._container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
}

.parallax {
	min-height: 100vh;
}

header {
	width: 100%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Gilroy';
	margin-top: 5px;
	z-index: 2;
}

.logo {
	z-index: 2;
}

.logo a {
	color: var(--Slate-500);
}

.logo:hover a {
	color: var(--Slate-900);
	transition: color 0.5s ease;
}

nav {
	width: 50%;
	display: flex;
	z-index: 2;
}

.header__menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.header__menu a {
	color: var(--Slate-500);
}

.header__menu:hover a {
	color: var(--Slate-900);
	transition: color 0.5s ease;
}

.account__box {
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-family: 'Gilroy';
	z-index: 2;
}
.account__box > a {
	color: var(--Slate-100);
}

.account__box:hover a {
	color: var(--Slate-900);
}

.parallax__body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.parallax__container {
	position: relative;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 20px;
	top: 15%;
	z-index: 2;
}

.parallax__container:hover {
	border-bottom: 1px solid #fff;
}

.parallax__label {
	color: var(--Accent);
	display: flex;
	font-size: 18px;
	letter-spacing: 6px;
	margin-right: 30;
	align-items: center;
	text-transform: uppercase;
}

.parallax__label::before {
	flex: 0 0 70px;
	content: '';
	margin-right: 30px;
	background-color: var(--Accent);
	height: 1px;
}

.parallax__title {
	font-size: 64px;
}

.parallax__images {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	z-index: 1;
}

.images-parallax__item {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.images-parallax__clouds {
	background: url(../assets/img/cloud.png) top / cover no-repeat;
	top: 0;
}

.images-parallax__mountains {
	background: url(../assets/img/mountain.png) top / cover no-repeat;
	top: 20%;
	z-index: 2;
}

.images-parallax__human {
	background: url(../assets/img/human.png) top / cover no-repeat;
	top: 55%;
	z-index: 3;
}

@media (max-aspect-ratio: 3/2) {
	.images-parallax__human {
		background-position: 20% top;
	}
}
