@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../assets/fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
		url('../assets/fonts/gilroy/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Chronicle-display';
	src: local('Chronicle-display Regular'), local('Chronicle-display-Regular'),
		url('../assets/fonts/chronicle-display/Chronicle/Display/Roman.otf')
			format('otf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--Accent: #fbd784;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

a {
	color: #fff;
}

body {
	height: 100%;
	line-height: 1;
	background-color: #0b1d26;
	color: #fff;
}

.wrapper {
	min-height: 100%;
}

._container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
}

.parallax {
	min-height: 100vh;
}

header {
	width: 100%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Gilroy';
	z-index: 4;
}

nav {
	width: 50%;
	display: flex;
	z-index: 2;
}

nav > ul {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	color: #fff;
}

a {
	color: #fff;
}

.parallax__body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.parallax__container {
	position: relative;
	z-index: 2;
}

.parallax__label {
	color: var(--Accent);
	display: flex;
	font-size: 18px;
	letter-spacing: 6px;
	margin-right: 30;
	align-items: center;
	text-transform: uppercase;
}

.parallax__label::before {
	flex: 0 0 70px;
	content: '';
	margin-right: 30px;
	background-color: var(--Accent);
	height: 1px;
}

.parallax__title {
	font-size: 64px;
}

.parallax__images {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	z-index: 1;
}

.images-parallax__item {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.images-parallax__clouds {
	background: url(../assets/img/cloud.png) top / cover no-repeat;
	top: 0;
}

.images-parallax__mountains {
	background: url(../assets/img/mountain.png) top / cover no-repeat;
	top: 20%;
	z-index: 2;
}

.images-parallax__human {
	background: url(../assets/img/human.png) top / cover no-repeat;
	top: 45%;
	z-index: 3;
}

@media (max-aspect-ratio: 3/2) {
	.images-parallax__human {
		background-position: 20% top;
	}
}
